{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
            <h2 style="margin-top: 0">{{ perfil.nome }}</h2>
        
        <address>
            <strong>{{ perfil.nome_empresa }}</strong><br>
            <abbr title="Telefone"> Tel:</abbr> {{ perfil.telefone }}<br>
            <a href="mailto:{{perfil.mail}}">{{ perfil.email }}</a>
        </address>
        {% if ja_eh_contato %}
        <div class="well well-sm"> Vocês estão conectados  </div>
        {% else %}
        <a href="{% url 'Convidar' perfil.id %}">Convidar</a>
        {% endif %}
    </div>
</div>

{% endblock %}












<!-- {% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Connectedin</title>
</head>
<body>
    <h1>Detalhes do perfil </h1>
    <ul>
        <li>nome: {{perfil.nome}}</li>
        <li>email: {{perfil.email}}</li>
        <li>telefone: {{perfil.telefone}}</li>
        <li>Empresa: {{perfil.nome_empresa}}</li>
    </ul>
    
</body>
</html> -->